<link rel="stylesheet" href="/css/partials.css">

<nav>
    <div class="top-bar">
        <h2 id="nav-header">
            TotalRecall Forums
            <span class="shadow">TotalRecall Forums</span>
            <span>TotalRecall Forums</span>
        </h2>

        <div id="user-status">
            <% if(user) { %>
                <div id="user-status-actual">
                    <span>Signed in as:</span>
                    <span class="main-username"><%= user.displayname %></span>
                </div>
                <a id="main-user-avatar" class="user-avatar signed-in"
                href="/total-recall/user/<%= user.displayname %>/<%= user._id %>">
                    <% if(user.linked_user_img !=="") { %>
                        <img src="<%= user.linked_user_img %>">
                    <% } else { %>
                        <img src="/default_inserts/default_pfp.png">
                    <% } %>
                    </a>
            <% } else { %>
                <div id="user-status-actual">
                    <span>Not currently signed in</span>
                </div>
                <div id="main-user-avatar" class="user-avatar signed-out">
                    <img src="/default_inserts/default_pfp.png">
                </div>
            <% } %>
        </div>

        <div class="mobile-user-icon">
            <% if(user) { %>
                <div class="main-username"><%= user.displayname %></div>
                <a id="main-user-avatar" class="user-avatar signed-in"
                href="/total-recall/user/<%= user.displayname %>/<%= user._id %>">
                    <% if(user.linked_user_img !=="") { %>
                        <img src="<%= user.linked_user_img %>">
                    <% } else { %>
                        <img src="/default_inserts/default_pfp.png">
                    <% } %>
                    </a>
            <% } else { %>
                <div class="main-username">Guest</div>
                <div id="main-user-avatar" class="user-avatar signed-out">
                    <img src="/default_inserts/default_pfp.png">
                </div>
            <% } %>
        </div>
    </div>
    <div class="nav-links">
        <% if(user) { %>
            <div style="margin-bottom: 2px;">
                <a class="authlink" href="/<%=user.displayname%>/total-recall/main">
                    Main Forum
                </a>
                <a class="authlink" href="/<%=user.displayname%>/total-recall/art">
                    Art Forum
                </a>
                <a class="authlink" href="/<%=user.displayname%>/total-recall/games">
                    Games Forum
                </a>
            </div>
        <% } %>
        <div>
            <% if(user) { %>
                <div class="authlink">
                    <details>
                        <summary>New Topic</summary>
                        <div>
                            <a href="/<%=user.displayname%>/total-recall/main/new">
                                <p class="shadow">Main Forum</p>
                                <p>Main Forum</p>
                            </a>
                            <a href="/<%=user.displayname%>/total-recall/art/new">
                                <p class="shadow">Art Forum</p>
                                <p>Art Forum</p>
                            </a>
                            <a href="/<%=user.displayname%>/total-recall/games/new">
                                <p class="shadow">Games Forum</p>
                                <p>Games Forum</p>
                            </a>
                        </div>
                    </details>
                </div>
            <% } %>
            <a class="authlink" href="/total-recall">Forums</a>
            <% if(user) { %>
                <a class="authlink" href="/auth/sign-out">
                    Sign Out
                </a>
            <% } else { %>
                <a class="authlink" href="/auth/sign-up">
                    Sign Up
                </a>
                <a class="authlink" href="/auth/sign-in">
                    Sign In
                </a>
            <% } %>
        </div>
    </div>
</nav>