<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="icon" href="/default_inserts/totalrecall_icon.png">
    <title>Editing Comment | <%=topic.title%> | <%=author.displayname%> | TotalRecall Forums</title>
</head>
<body>
    <main>
        <%- include('../partials/navbar.ejs') %>
        <div class="page-content showing">
            <div class="topic-heading">
                <h2><%=topic.title%></h2>
                <hr>

                <div class="user-tag-box">
                    <a class="user-avatar <% if(String(topic.author_id) == String(user._id)) { %>signed-in<% } %>"
                        href="/<%= user.displayname %>/total-recall/users/<%=author.displayname%>">
                        <img src=
                        '
                        <% if(author.linkedavatar!=="") { %>
                            <%= author.linkedavatar %>
                        <% } else { %>
                            /default_inserts/default_pfp.png
                        <% } %>
                        '>
                    </a>
                    <div class="topic-etoc">
                        <h5>
                            <%= author.displayname %>
                        </h5>
                        <p class="date">
                            <%= topicDate.concise %> in TotalRecall <%=branchName%>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="content comment">
                <div class="user-tag-box">
                    <a class="user-avatar <% if(String(topic.author_id) == String(user._id)) { %>signed-in<% } %>"
                        href="/<%= user.displayname %>/total-recall/users/<%=author.displayname%>/<%=author._id%>">
                        <img src=
                        '
                        <% if(author.linkedavatar!=="") { %>
                            <%= author.linkedavatar %>
                        <% } else { %>
                            /default_inserts/default_pfp.png
                        <% } %>
                        '>
                    </a>
                    <div class="topic-etoc">
                        <h5>
                            <%= author.displayname %>
                        </h5>
                        <p class="date">
                            <%= topicDate.concise %> in TotalRecall <%=branchName%>
                        </p>
                    </div>
                    <% if(String(topic.author._id) === String(user._id)) { %>
                        <details class="options">
                            <summary> ℹ </summary>
                            <div>
                                <form action="/<%=user.displayname%>/total-recall/forums/<%=
                                    String(branchName).toLowerCase()%>/<%=
                                    (topic.title).replaceAll(' ', '-')%>/<%=
                                    topic._id%>?_method=DELETE" method="POST">
                                    <button class="del" type="submit">delete comment</button>
                                </form>
                                <a href="/<%=user.displayname%>/total-recall/forums/<%=
                                    String(branchName).toLowerCase()%>/<%=
                                    (topic.title).replaceAll(' ', '-')%>/<%=
                                    topic._id%>/edit">edit topic</a>
                            </div>
                        </details>
                    <% } %>
                </div>
                <hr>
                <img src="<%=topic.linked%>" class="linked">
                <p>
                    <%=topic.content%>
                </p>
            </div>
                
            <% if(comments.length !== 0) { %>
                <% comments.forEach((comment) => { %>
                    <div class="comment <% if(String(topic.author_id) == String(comment.author._id)) { %>content<% } %>">
                        <div class="user-tag-box">
                            <a class="user-avatar <% if(String(comment.author._id) == String(user._id)) { %>signed-in<% } %>"
                                href="/<%= user.displayname %>/total-recall/users/<%=comment.author.displayname%>/<%=comment.author._id%>">
                                <img src=
                                '
                                <% if(comment.author.linkedavatar!=="") { %>
                                    <%= comment.author.linkedavatar %>
                                <% } else { %>
                                    /default_inserts/default_pfp.png
                                <% } %>
                                '>
                            </a>
                            <div class="topic-etoc">
                                <h5>
                                    <%= comment.author.displayname %>
                                </h5>
                                <p class="date">
                                    <%= comment.date.concise %> in TotalRecall <%=branchName%>
                                </p>
                            </div>
                            <% if(String(comment.author._id) === String(user._id)) { %>
                                <details class="options">
                                    <summary> ℹ </summary>
                                    <div>
                                        <form action="/<%=user.displayname%>/total-recall/forums/<%=
                                            String(branchName).toLowerCase()%>/<%=
                                            (topic.title).replaceAll(' ', '-')%>/<%=
                                            topic._id%>/<%=comment._id%>?_method=DELETE" method="POST">
                                            <button class="del" type="submit">delete comment</button>
                                        </form>
                                        <a href="/<%=user.displayname%>/total-recall/forums/<%=
                                            String(branchName).toLowerCase()%>/<%=
                                            (topic.title).replaceAll(' ', '-')%>/<%=
                                            topic._id%>/<%=comment._id%>/edit">edit comment</a>
                                    </div>
                                </details>
                            <% } %>
                        </div>
                        <hr>
                        <img src="<%=comment.linked%>" class="linked">
                        <p>
                            <%=comment.content%>
                            
                        </p>
                    </div>
                <% }) %>
            <% } else { %>
                <% if(user) { %>
                    <p>Be the first to comment!</p>
                <% } %>
            <% } %>
            <div id="comment-box">
                <% if(user) { %>
                    
                    <div class="post-box">
                        <form action="/<%=user.displayname%>/total-recall/forums/<%=
                            String(branchName).toLowerCase()%>/<%=
                            (topic.title).replaceAll(' ', '-')%>/<%=
                            topic._id%>/<%=currentComment._id%>?_method=PUT" method="POST">
        
                            <label for="content">Content: *</label>
                            <textarea name="content" id="content"><%=currentComment.content%></textarea>
        
                            <label for="linked">Link an image:</label>
                            <input type="text" name="linked" id="linked" value="<%=currentComment.linked%>"/>
        
                            <button type="submit">Post</button>
                        </form>
                    </div>
                    
                <% } else { %>
                    
                    <p>
                        You must be logged in to comment.
                    </p>

                <% } %>
            </div>
        </div>
    </main>
</body>
</html>