<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="icon" href="/default_inserts/totalrecall_icon.png">
    <title>TotalRecall Forums | <%= branchName %></title>
</head>
<body>
    <main>
        <%- include('../partials/navbar.ejs') %>
        <div class="page-content">
            <h1>
                <%= branchName %> Discussion Forum
                <br><% if(user) { %>
                    <a href="/<%=user.displayname%>/total-recall/forums/<%=
                        String(branchName).toLowerCase()%>/new">Create New Topic Here</a>
                <% } %>
            </h1>
            <% if(topics.length > 0) { %>
                <% topics.forEach((topic)=>{ %>
                    
                    <div class="topic-preview-box">
                        <div class="topic-heading">
                            <h2>
                                <a href="/<%=user.displayname%>/total-recall/forums/<%=String(branchName).toLowerCase()%>/<%=(topic.title).replaceAll(' ', '-')%>/<%=topic._id%>">
                                    <%= topic.title %>
                                </a>
                            </h2>
                            <hr>

                            <div class="user-tag-box">
                                <a class="user-avatar <% if(topic.author._id == user._id) { %>signed-in<% } %> <% if(topic.author.isAdmin) { %>admin-signed-in<% } %>"
                                    href="/<%= user.displayname %>/total-recall/users/<%=topic.author.displayname%>/<%=topic.author._id%>">
                                    <img src=
                                    '
                                    <% if(topic.author.linkedavatar!=="") { %>
                                        <%= topic.author.linkedavatar %>
                                    <% } else { %>
                                        /default_inserts/default_pfp.png
                                    <% } %>
                                    '>
                                </a>
                                
                                <div class="topic-etoc">
                                    <h4>
                                        <%= topic.author.displayname %>
                                    </h4>
                                    <p class="date">
                                        <span><%= topic.date.concise %> in TotalRecall <%=branchName%></span>
                                        <% if(topic.date.real < topic.dateUpdated.real) { %>
                                            <span>&nbsp;|&nbsp;</span>
                                            <span>Edited: <%= topic.dateUpdated.concise %></span>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <span class="content-preview">
                            <img 
                                src="<%= topic.linked %>"
                                class="linked-preview linked" 
                                style="
                                min-height: 100px; 
                                min-width: 5px; 
                                <% if(topic.linked =='') { %>visibility: hidden;<% } %>"
                            >
                            <p>
                                <%=topic.content%>
                                <br>
                                <% if(topic.comments.length !== 0) { %>
                                    
                                    <br>
                                    <em style="color: darkgray;">on <%= 
        `${monthArray[topic.comments[(topic.comments.length-1)].date.getMonth()]} ${topic.comments[(topic.comments.length-1)].date.getDate()}, ${topic.comments[(topic.comments.length-1)].date.getFullYear()}` 
                                        %>, <%= userBase[topic.comments[(topic.comments.length-1)].author_id].displayname %> said:</em>
                                    <br>
                                    <%= topic.comments.pop().content %>
                                <% } %>
                            </p>
                        </span>
                    </div>
                    
                <% }) %>
            <% } else { %>
                <div class="topic-preview-box">
                    <p>Looks like there aren't any topics in this forum branch...</p>
                    
                </div>
            <% } %>
        </div>
    </main>
</body>
</html>